<div class="row">
	<div class="col-md-6">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Reservation Details</h3>
			</div>
			<div class="box-body">
				<div class="form">
					<div class="form-group row">
						<div class="col-md-4">
							<label class="control-label">From</label>
							<div class="input-group">
								<input type="text" class="form-control text-center" ng-model="reservation.fromDate" data-max-date="{{untilDate}}" placeholder="From" bs-datepicker>
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>
						<div class="col-md-4">
							<label class="control-label">To</label>
							<div class="input-group">
								<input type="text" class="form-control text-center" ng-model="reservation.toDate" data-min-date="{{fromDate}}" placeholder="Until" bs-datepicker ng-change="onToDateChange(reservation.toDate)">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>
						<div class="col-md-4">
							<label class="control-label">or Duration</label>
							<div class="input-group">
								<input type="number" class="form-control text-right" ng-model="reservation.duration" ng-change="onDurationChange(reservation.duration)">
								<span class="input-group-addon">days</span>
							</div>
						</div>
						</p>
					</div>

					<div class="form-group">
						<label class="control-label">Customer</label>
						<ui-select ng-model="reservation.customer_id">
							<ui-select-match>{{$select.selected.name}}</ui-select-match>
							<ui-select-choices repeat="option.id as option in mock.customers | filter: $select.search">
								<div ng-bind-html="option.name | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>

					<div class="form-group">
						<label class="control-label">Room Rate</label>
						<ui-select ng-model="reservation.room_rate">
							<ui-select-match>{{$select.selected.name}}</ui-select-match>
							<ui-select-choices repeat="option.id as option in mock.rates | filter: $select.search">
								<div ng-bind-html="option.name | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
			</div>
		</div>

		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Select Rooms</h3>
			</div>
			<div class="box-body">
				<table class="table">
					<thead>
						<tr>
							<th></th>
							<th>Room</th>
							<th>Type</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="room in mock.rooms track by room.id">
							<td><input type="checkbox" ng-model="room.selected" ng-click="calculateTotal()"></td>
							<td>{{ room.name }}</td>
							<td>{{ room.type }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Summary</h3>
			</div>
			<div class="box-body">
				<table class="table">
					<thead>
						<tr>
							<th>Room</th>
							<th class="text-right">Rate</th>
							<th class="text-right">Duration</th>
							<th class="text-right">Subtotal</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="room in mock.rooms | filter:{selected:true}">
							<td>{{ room.name }} {{ room.type }}</td>
							<td class="text-right">{{ getRoomRate(room) | currency }}</td>
							<td class="text-right">{{ reservation.duration }} days</td>
							<td class="text-right">{{ getRoomRate(room) * reservation.duration | currency }}</td>
						</tr>
						<tr ng-if="total">
							<td colspan="3"><b>Total</b></td>
							<td class="text-right"><b>{{ total | currency }}</b></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="box-footer">
				<button class="btn btn-success" ng-click="save()">Save Reservation</button>
				<button class="btn btn-default pull-right" ui-sref="home">Save as Draft</button>
			</div>
		</div>
	</div>
</div>
